@page
@model SpeedyGourmet.WebApp.Pages.Recipes.GetAllModel
@{
}

<form method="post">
    <div class="form-group">
        <label>Title</label>
        <input title="Title" class="form-control" placeholder="Enter Title">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2>Recipe List</h2>
  <ul class="list-group">
      @foreach (var recipe in Model.recipes)
        {
        <li class="list-group-item">recipe.Title</li>
        }
        <br>
  </ul>