@page
@model SpeedyGourmet.WebApp.Pages.Measures.GetByIdModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Measure</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.measure.Name</td>
        </tr>
    </tbody>
</table>