@page
@model SpeedyGourmet.WebApp.Pages.Measures.GetByIdModel
@{
}

<h2>List of Units of Measurement <i class="fa-solid fa-scale-balanced"></i></h2>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Measure</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.measure.Name</td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between">
    <a class="btn btn-danger" asp-area="" asp-page="/Measures/GetAll"> Return <i class="fa-solid fa-arrow-up-from-bracket"></i></a>
</div>
