@page
@model SpeedyGourmet.WebApp.Pages.Measures.UpdateModel
@{
}

<h2>List of Units of Measurement <i class="fa-solid fa-scale-balanced"></i></h2>
<br />

<form method="post">
    <div class="d-flex">
        <div class="form-group">
            <a class="btn btn-danger" asp-area="" asp-page="/Measures/GetAll"> Return <i class="fa-solid fa-arrow-up-from-bracket"></i></a>
        </div>
        <div class="form-group">
            <input type="text" id="id" name="id" class="form-control mx-2" value="@Model.measure.Id" readonly>
        </div>
        <div class="form-group">
                    <input type="text" id="name" name="name" class="form-control mx-3" value="@Model.measure.Name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mx-4"> Edit <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</form>