<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpeedyGourmet.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SpeedyGourmet.WebApp.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/7f663f69a4.js" crossorigin="anonymous"></script>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="container">
                <a class="navbar-brand" href="#">Logo</a>
        
                <!-- Botões "Register" e "Log In" alinhados à esquerda -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Shared/Layout">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Shared/Layout">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Recipee/GetAll">Recipee GetAll</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Recipee/AddIngredients">Add Ingredients</a>
                    </li>
                </ul>
                
                <!-- Grupo de elementos de navegação "Menu Recipe" alinhado à direita -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Menu Recipe</a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Ingredients/GetAll">Ingredients</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Categories/GetAll">Categories</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Measures/GetAll">Measures</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Difficulties/GetAll">Difficulties</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/IngredientLines/GetAll">IngredientLines</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Posts/GetAll">Comments</a></li>
                        </ul>
                    </li>
                </ul>
        
                <!-- Grupo de elementos de navegação "Menu Admin" alinhado à direita -->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Menu Admin</a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Users/GetAll">Users</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Favourites/GetAll">Favourites</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-page="/Posts/GetAll">Posts</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SpeedyGourmet.WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>