@page
@model SpeedyGourmet.WebApp.Pages.Difficulties.GetAllModel
@{
}

<br>

<div class="d-flex">

    <form method="post">

        <div class="form-group">
            <input name="name" class="form-control" placeholder="Insert new Difficulty">
        </div>

        <br>

        <button type="submit" class="btn btn-primary ml-2">Create</button>

    </form>


</div>

<br>

<table class="table">

    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach (Model.Difficulty difficulty in Model.difficulties)
        {
            <tr>
                <td><a href="#" class="list-group-item list-group-item-action">@difficulty.Name</a></td>
                <td>
                    <a asp-page="/Difficulties/Delete" asp-route-id="@difficulty.Id">Delete</a> /
                    <a asp-page="/Difficulties/GetById" asp-route-id="@difficulty.Id">View</a> /
                    <a asp-page="/Difficulties/Update" asp-route-id="@difficulty.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>

</table>