@page
@model SpeedyGourmet.WebApp.Pages.Difficulties.GetByIdModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Difficulty</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.difficulty.Name</td>
        </tr>
    </tbody>
</table>
