@page
@model SpeedyGourmet.WebApp.Pages.IngredientLines.GetAllModel
@{
}

<br>

<div class="d-flex justify-content-between">
    <a class="btn btn-danger" asp-area="" asp-page="/IngredientLines/GetAllByRecipe">View ingredient's list by a Recipe <i class="bi bi-arrow-left"></i></a>
</div>

<br />

<div class="d-flex justify-content-between">
    <a class="btn btn-danger" asp-area="" asp-page="/IngredientLines/CreateByRecipe">Create ingredient's list by a Recipe <i class="bi bi-arrow-left"></i></a>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Ingredient Line</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Model.IngredientLine ingredientLine in Model.ingredientLines)
        {
            <tr>
                <td><a>@ingredientLine.Quantity @ingredientLine.Measure.Name de @ingredientLine.Ingredient.Name</a></td>
                <td>
                    <a asp-page="/IngredientLines/Delete" asp-route-id="@ingredientLine.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>