@page
@model SpeedyGourmet.WebApp.Pages.Ingredients.GetByIdModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Ingredient</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.ingredient.Name</td>
        </tr>
    </tbody>
</table>