@page
@model SpeedyGourmet.WebApp.Pages.Categories.GetByIdModel
@{
}

 <table class="table">
    <thead>
      <tr>
        <th>Category</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>@Model.category.Name</td>
      </tr>
    </tbody>
  </table>


