@page
@model SpeedyGourmet.WebApp.Pages.Categories.Update
@{
}

<h2>Categories <i class="fa-solid fa-burger"></i></h2>
<br />

<form method="post">
    <div class="d-flex">
        <div class="form-group">
            <a class="btn btn-danger" asp-area="" asp-page="/Categories/GetAll">Return <i class="fa-solid fa-arrow-up-from-bracket"></i></a>
        </div>
        <div class="form-group">
            <input type="text" id="id" name="id" class="form-control mx-2" value="@Model.Category.Id" readonly>
        </div>
        <div class="form-group">
            <input type="text" id="name" name="name" class="form-control mx-3" value="@Model.Category.Name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mx-4">  Edit <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</form>



