@page
@model SpeedyGourmet.WebApp.Pages.Favourites.GetByIdModel
@{
}

<h2>List of Favourites <i class="fa-solid fa-heart"></i></h2>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Favourite</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.favourite.User.UserName</td>
        </tr>
        <tr>
            <td>@Model.favourite.Recipe.Title</td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between">
    <a class="btn btn-danger" asp-area="" asp-page="/Favourites/GetAll"> Return <i class="fa-solid fa-arrow-up-from-bracket"></i></a>
</div>
