@page
@model SpeedyGourmet.WebApp.Pages.Favourites.GetById
@{
}

<h2>Favourites <i class="fa-solid fa-heart"></i></h2>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Favourite</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.Favourite.User.UserName</td>
        </tr>
        <tr>
            <td>@Model.Favourite.Recipe.Title</td>
        </tr>
    </tbody>
</table>

<form method="post">
    <div class="d-flex justify-content-between">
        <a class="btn btn-danger" asp-area="" asp-page="/Favourites/GetAll"> Return <i class="fa-solid fa-arrow-up-from-bracket"></i></a>
    </div>
</form>
