@page
@model SpeedyGourmet.WebApp.Pages.Favourites.GetByIdForUsersListModel
@{
}

<h2>List of Favourites <i class="fa-solid fa-heart"></i></h2>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Favourite</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.favourite.User.Name</td>
        </tr>
        <tr>
            <td>@Model.favourite.Recipe.Title</td>
        </tr>
    </tbody>
</table>

<form method="post" class="d-flex">
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary mx-2"> Return <i class="fa-solid fa-arrow-up-from-bracket"></i></button>
    </div>
</form>
