@page
@model SpeedyGourmet.WebApp.Pages.Users.CreateUserModel
@{
}

<h2>Register User <i class="fa-regular fa-user"></i></h2>
<br />

<form method="post form-control">
    <div class="d-flex">

        <div>
            <input name="name" class="form-control mr-2" style="width: 150px" placeholder="Name">
        </div>
        <br />

        <div>
            <input name="username" class="form-control mr-2" style="width: 150px" placeholder="User name">
        </div>
        <br />

        <div>
            <input name="email" class="form-control mr-2" style="width: 150px" placeholder="Email">
        </div>
        <br />

        <div>
            <input name="password" class="form-control mr-2" style="width: 150px" placeholder="Password">
        </div>
        <br />

        @* <p>Admin User</p>
        <input type="radio" id="iszero" name="is_admin" value="false">
        <label for="iszero">No</label>
        <input type="radio" id="isone" name="is_admin" value="true">
        <label for="isone">Yes</label>
        <br />

        <p>Block User</p>
        <input type="radio" id="iszero" name="is_blocked" value="false">
        <label for="iszero">No</label>
        <input type="radio" id="isone" name="is_blocked" value="true">
        <label for="isone">Yes</label>
        <br /> *@
    </div>
    <br />

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Create User <i class="fa-solid fa-arrow-right"></i></button>
        <a class="btn btn-danger" asp-area="" asp-page="/Users/GetAll">Return <i class="fas fa-arrow-up-from-bracket"></i></a>
    </div>
</form>