@page
@model SpeedyGourmet.WebApp.Pages.Login.Login
@{
}

<form method="post">
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input name="username" type="text" placeholder="Enter Username" required>

        <label for="psw"><b>Password</b></label>
        <input name="password" type="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>
    </div>
</form>