@page
@model SpeedyGourmet.WebApp.Pages.LogIn.Register
@{
}

<form method="post form-control">
    <div class="d-flex">
        <div>
            <input name="name" class="form-control mr-2" style="width: 150px" placeholder="Name">
        </div>
        <br />

        <div>
            <input name="username" class="form-control mr-2" style="width: 150px" placeholder="User name">
        </div>
        <br />

        <div>
            <input name="email" class="form-control mr-2" style="width: 150px" placeholder="Email">
        </div>
        <br />

        <div>
            <input name="password" class="form-control mr-2" style="width: 150px" placeholder="Password">
        </div>
        <br />
    </div>
    <br />

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Create User <i class="fa-solid fa-arrow-right"></i></button>
    </div>
</form>